.inner-table{

  width: 100% !important;

}
.dropdown-menu{

  overflow-y: scroll;
  height: 200px;

}
.filter{

  border: 2px solid goldenrod;
  padding: 10px;
  width: 50%;
  border-radius: 10px;

}
.text-area{

  width: 250px;
  span{

    margin: 30px 5px 5px 60px;
    color: yellowgreen;

  }

}
