<div class="body" [hidden]="istrue">
  <img src="assets/landing.jpg" alt="">
  <p>The Universe is filled with STARs ⭐, and so is our society. But, like in the night sky, some STARs🌟 shine brighter than others 🤩</p>
  <p>These STARs🌟, blinded us with their excellence in their respective feilds. And the world today knows them as <br> Nobel Prize Laureate</p>
  <p>Let me Introduce you to the STARs🌟😃</p>
  <button type="button" class="btn btn-warning">👆 Select an option from Above 😃</button>
</div>
